*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
.btn-cta {
  display: inline-block;
  padding: 12px 32px;
  margin-top: 20px;
  border: 2px solid #adff2f;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-cta:hover {
  background: #adff2f;
  color: #000;
  border-color: #adff2f;
  transform: scale(1.05);
  box-shadow: 0 0 15px #adff2f;
}
.btn-cta:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #7FFF00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 45px;
    margin-top: 20px;
}

.Bình{
    color: #7FFF00;
}
    
.F{
    color: #ffffff;
}

.P{
    color: #ffffff;
}

.T{
    color: #ffffff;
}

.U{
    color: #ffffff;
}

/* -----------về tôi--------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}

.btn11{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #7FFF00;
    padding: 20px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: background 0.5s;
}

.btn11:hover{
    background:#bbff00;
    color: #000;
    font-weight: Bolder;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detail{
    color: #ffffff;
    margin-top: 10px;
    font-weight: 50;
    border-color: #4eb748;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
    color: #ffffff;
    
}

.tab-titles{
    color: #0d9b00;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: Bold;
    text-align: center;
}

.skill{
    color: #0aec00;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

/* ----------------dịch vụ------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: linear-gradient(0deg, rgba(171,19,255,1) 0%, rgba(132,107,253,1) 50%, rgba(88,207,251,1) 100%);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 1s, transform 0.5s;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
}
.services-list div:hover{
    background: #4eb748;
    transform: translateY(30px);
}
/* -------portfolio----------- */
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #49a345);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
   transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.25);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #7FFF00;
    padding: 20px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: background 0.5s;
}
.btn:hover{
    background:#bbff00;
    color: #000;
    font-weight: 500;
}

/* ---------liên hệ-------- */

.contact{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}
.mail{
    text-align: center;
    font-size: 15px;
    padding: 40px 60px;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #7FFF00;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #7FFF00;
    transform: translateY(-15px);
}

.btn.btn2:hover{
    background:#bbff00;
    color: #000;
    font-weight: 500;
}
.btn.btn2{
    display: inline-block;
    background: #000000;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright a{
    color: #7FFF00;
    text-decoration: none;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #272727;
    font-weight: 300;
    margin-top: 20px;
}